{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content">
    <div class="container" style="display: flex; justify-content: center;">
        <div style="width: 300px; display: inline-block; ">
            <div style="display: flex; justify-content: center;">
                <h2>Registration</h2>
            </div>
            <form method="post" class="post-form">
                {% csrf_token %}
                {{ form.as_p }}
                <div style="display: flex; justify-content: center;">
                    <input type="submit" class="button" value="Register">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}